/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS */
:root {
    --azul-primario: #2563EB;   /* logo, botones, títulos de cards, activos */
    --azul-claro: #EEF2FF;      /* fondo stats card, fondo badge ID, hover sidebar */
    --azul-borde: #C7D7FD;      /* borde badge ID */

    --verde: #16A34A;           /* íconos check de salud y texto "Al día" */
    --verde-icono: #DCFCE7;     /* fondo circular de los checks de salud */

    --blanco: #FFFFFF;          /* cards, header, sidebar */
    --fondo: #F0F2F5;           /* fondo general */

    --texto: #1A1A2E;           /* títulos, nombres */
    --texto-medio: #666666;     /* texto descriptivo */
    --texto-suave: #999999;     /* labels pequeños, fechas */
    --borde: #F0F0F0;           /* líneas divisoras */
}